{% extends 'base.html' %}

{% block title %}Edit Post{% endblock %}
{% block body %} 
    <br>
    <p class="text-center"><a href="/">Home</a></p>
    <br>
	<h1 class = 'text-center text-primary'>Edit Post</h1>
	{% from 'form-helper.html' import render_field %}
	<form action="" method = 'POST' >
        <br>
		<div class="form-group">	
			{{ render_field(form.title, class = "form-control", placeholder = 'Enter title for the article', id = 'title')}}
		</div>	
        <br>
		<div class="form-group">
			{{ render_field(form.description, class = "form-control", placeholder = 'Enter Your name', id = 'description')}}
		</div>	
        <br>
		<p><input type="submit" class = 'btn btn-primary' value = 'Edit article'></p>
		</div>
	</form>

{% endblock %}