<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="styles/style.css">
  <link rel="stylesheet" href="styles/about.css">
  <title>About Us</title>
</head>
<body>
      <div class="container">
        <nav>
          <div class="nav_bar">
            <ul class = "nav_block">
              <li><a href="about.html">О нас</a></li>
              <li><a href="market.html">Наш магазин</a></li>
              <li><h2 class = "logo_text"><a href="index.html">Собачий блог</a></h2></li>
              <li><a href="faq.html">F.A.Q</a></li>
              <li><a href="login.html">Вход </a><a href="register.html">/ Регистрация</a></li>
            </ul>
          </div>
        </nav>
        <section>
          <h2 class = "articles">О нас</h2>
          <div class="about_block">
            <div class="about_text"><p>Ну во-первых не "О нас", а обо мне. Меня зовут Артём, я сам веду свой блог, пишу про собак и разрабатываю сайт.Мне почти 17 лет, учусь в лучшем колледже в мире - "Сервере". В свободное время изучаю новые породы собак и пишу у себя в блоге. Можете ПОДДЕРЖАТЬ меня купив качественый товар в нашем магазине(цены намного лучше, чес у конкурентов), тем самым улучшите качество моих статей.Всем удачи и добра!</p></div>
            <div class="about_img">
                <img src="img/photo_2020-04-09_21-29-26.jpg" alt="">
            </div>
          </div>
        </section>
      </div>
</body>
</html>
