{% extends 'layout.html' %}
{% block title %}All Posts{% endblock %}
{% block body %}
        <section>
          <h1 class = "articles">Наши статьи</h1>
          <div class="item_container">
            {% for post in posts %}
            <div class="item">
              <a href="article/{{post.slug}}">
                <img src="static/images/{{post.pic_url}}" alt="">
              </a>
                <div class="text_item">
                  <h4 class = "main_item_text"><a href = "article/{{post.slug}}">{{post.title}}</a></h4>
                  <p class = "publication_date">Дата публикации:{{post.date}}</p>
                  <p class = "likes_count">Количество лайков: {{post.likes | length}}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </section>
  {% endblock %}