{% extends 'layout.html' %}
{% block title %}All Posts{% endblock %}
{% block body %}
<link rel="stylesheet" href="{{ url_for('static',filename = 'styles/article_style.css') }}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <section>
    <h1 class = "title_text">{{post.title}}</h1>
      <div class="text_block text-center">
        {{ post.body | safe }}
      </div>
        <hr>
      <div class="info_block">
        <p class = "author">Автор: {{ post.author }}</p>
        <p class = "date">Дата публикации: {{ post.date }}</p>
      </div>
        <div class="like_block">
            {% if current_user.is_authenticated %}
            <form method = "POST" action="{{post.slug}}/like/">
                <button class = "like" id = "like_btn" type = "button" name = "like_id" value = "{{ post.id }}"><i class="fa fa-heart {% if is_liked %}liked_article{% endif %}"></i></button>
                <span class = "total_likes"> {{total_likes}}</span>
            </form>
            {% endif %}
        </div>
    </section>


  <script>
      $(document).ready(function() {

          $('body').on('click', '#like_btn', function (event) {
              event.preventDefault();
              var data_id = $(this).attr('value');
              $.ajax({
                  type: 'POST',
                  url: '{{post.slug}}/like/',
                  data: {
                      id: data_id,
                  },
                  success: function (data) {
                      $('.total_likes').html(data['total_likes']);
                      if(data['is_liked'] == true){
                           $('#like_btn i').addClass('liked_article')
                          alert('Статья добавлена в избранное')
                      }
                      else{
                          $('#like_btn i').removeClass('liked_article')
                      }
                      $('#like_btn').attr('value', data_id);
                  },
                  error: function (data) {
                      console.log("error");
                  }
              });
          });
      });
    </script>

{% endblock %}